@media screen  and  (max-width: 658px) {
   .menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
   }
   
   .menu__link{
      font-size: 17px;
      
   }
   
   .img {
    padding-top: 20px;
    padding-bottom: 30px;
   }

}
  

    
